*{
background-color:black;
margin:0;
color:white;
padding:0;
overflow:hidden;
}
.nav{
display:flex;
justify-content:space-between;
padding:2px;
background-color:#292929;
}
.head{
padding:5px;
background-color:#292929;
}
.a{
background-color:#292929;
display:inline;
padding:0 10px;
float:left;
margin:2px;
border-left:2px solid white;
}
.a:hover{
background-color:grey;
box-shadow:0px 0px 8px;
cursor:pointer;
}
#title{
font-size:1.2rem;
padding:5px 41px;
}
.col{

float:left;
}
#me{
height:100vh;

}
#quote{
margin:40vh 5vh;
padding:10px;
font-size:5rem;
}
footer{
padding:10px 300px;
}